[submodule "HuatuoGPTVision"]
	path = HuatuoGPTVision
	url = https://github.com/FreedomIntelligence/HuatuoGPT-Vision
[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/haotian-liu/LLaVA
[submodule "BiomedGPT"]
	path = BiomedGPT
	url = https://github.com/taokz/BiomedGPT
[submodule "LLavaMed"]
	path = LLavaMed
	url = https://github.com/microsoft/LLaVA-Med
[submodule "MedMoE"]
	path = MedMoE
	url = https://github.com/jiangsongtao/Med-MoE
